<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>classify</key>
		<string>底层原理</string>
		<key>subsection</key>
		<array>
			<dict>
				<key>name</key>
				<string>Runtime</string>
				<key>class</key>
				<string>RuntimeVCltr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>Runloop</string>
				<key>class</key>
				<string>RunloopVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>Block</string>
				<key>class</key>
				<string>BlockVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>classify</key>
		<string>网络相关</string>
		<key>subsection</key>
		<array>
			<dict>
				<key>name</key>
				<string>封装</string>
				<key>class</key>
				<string>NetWorkEncapsulationVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>第三方</string>
				<key>class</key>
				<string>NetworkThirdPartyVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>Socket</string>
				<key>class</key>
				<string>SocketVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>协议</string>
				<key>class</key>
				<string>NetworkProtocolVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>UIWebview</string>
				<key>class</key>
				<string>WebviewVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>WKWebview</string>
				<key>class</key>
				<string>WKWebviewVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>classify</key>
		<string>多线程相关</string>
		<key>subsection</key>
		<array>
			<dict>
				<key>name</key>
				<string>GCD</string>
				<key>class</key>
				<string>GCDVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>NSOperation</string>
				<key>class</key>
				<string>NSOperationVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>多线程安全（锁、信号等）</string>
				<key>class</key>
				<string>MultiTaskSecurityVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>classify</key>
		<string>tableView相关</string>
		<key>subsection</key>
		<array>
			<dict>
				<key>name</key>
				<string>基本原理及过程</string>
				<key>class</key>
				<string>TableViewBaseVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>使用技巧（AtuoLayOut等）</string>
				<key>class</key>
				<string>TableViewSkillVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>优化</string>
				<key>class</key>
				<string>TableViewOptimizeVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>classify</key>
		<string>动画相关</string>
		<key>subsection</key>
		<array>
			<dict>
				<key>name</key>
				<string>基础动画</string>
				<key>class</key>
				<string>BasalAnimationVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>高级动画</string>
				<key>class</key>
				<string>AdvancedAnimationVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>常用第三方</string>
				<key>class</key>
				<string>AnimationThirdPartyVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>classify</key>
		<string>视图封装</string>
		<key>subsection</key>
		<array>
			<dict>
				<key>name</key>
				<string>小控件封装</string>
				<key>class</key>
				<string>UIControlEncapsulationVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>大部件封装</string>
				<key>class</key>
				<string>UIComponentEncapsulationVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>classify</key>
		<string>数据库相关</string>
		<key>subsection</key>
		<array>
			<dict>
				<key>name</key>
				<string>Core Data</string>
				<key>class</key>
				<string>CoreDataVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>SQLite</string>
				<key>class</key>
				<string>SQLiteVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>第三方</string>
				<key>class</key>
				<string>DataBaseThirdPartyVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>classify</key>
		<string>ReactiveCocoa</string>
		<key>subsection</key>
		<array>
			<dict>
				<key>name</key>
				<string>应用</string>
				<key>class</key>
				<string>ReactiveCocoaVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>classify</key>
		<string>ReactNative</string>
		<key>subsection</key>
		<array>
			<dict>
				<key>name</key>
				<string>应用</string>
				<key>class</key>
				<string>ReactNativeVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>classify</key>
		<string>绘图相关</string>
		<key>subsection</key>
		<array>
			<dict>
				<key>name</key>
				<string>Core Graphic</string>
				<key>class</key>
				<string>CoreGraphicVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>UIView渲染</string>
				<key>class</key>
				<string>UIViewDrawingVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>内存优化</string>
				<key>class</key>
				<string>GraphicCacheOptimizeVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>classify</key>
		<string>图像处理</string>
		<key>subsection</key>
		<array>
			<dict>
				<key>name</key>
				<string>图像简单处理</string>
				<key>class</key>
				<string>ImageBaseHandleVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>滤镜算法</string>
				<key>class</key>
				<string>ImageFilterVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>classify</key>
		<string>APP优化</string>
		<key>subsection</key>
		<array>
			<dict>
				<key>name</key>
				<string>缓存优化及清理</string>
				<key>class</key>
				<string>CacheOptimizeVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>文件系统</string>
				<key>class</key>
				<string>FileSystemVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>classify</key>
		<string>流媒体相关</string>
		<key>subsection</key>
		<array>
			<dict>
				<key>name</key>
				<string>直播相关</string>
				<key>class</key>
				<string>LiveVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>视频处理</string>
				<key>class</key>
				<string>VideoHandleVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>音频处理</string>
				<key>class</key>
				<string>VoiceHandleVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>classify</key>
		<string>其他</string>
		<key>subsection</key>
		<array>
			<dict>
				<key>name</key>
				<string>控制器管理</string>
				<key>class</key>
				<string>ControllerManageVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>数据持久化</string>
				<key>class</key>
				<string>DataStorageVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>缓存</string>
				<key>class</key>
				<string>SystemCacheVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>地理位置</string>
				<key>class</key>
				<string>LocationVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>加密</string>
				<key>class</key>
				<string>EncryptVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>classify</key>
		<string>系统服务</string>
		<key>subsection</key>
		<array>
			<dict>
				<key>name</key>
				<string>系统硬件调用</string>
				<key>class</key>
				<string>SystemHardwareVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>3D Touch</string>
				<key>class</key>
				<string>ThreeDimensionVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>Widget</string>
				<key>class</key>
				<string>WidgetVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>通讯录</string>
				<key>class</key>
				<string>AddressBookVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>classify</key>
		<string>工具方法</string>
		<key>subsection</key>
		<array>
			<dict>
				<key>name</key>
				<string>集合</string>
				<key>class</key>
				<string>ToolFunctionsVCtlr</string>
				<key>isProcessing</key>
				<false/>
			</dict>
		</array>
	</dict>
</array>
</plist>
